body {
    font-family:'Lato',sans-serif;
    color:#FFF;
    font-weight:300;
    font-size:2vmin;
    background-color: #f6fffb;
}

#head {
    height: 20em;
    background-image: url("../images/header.jpg");
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    background-size: 100%;
    padding: 2em;
    vertical-align: top !important;
}

.row-buffer {
    margin-top:20px;
    margin-bottom:30spx
}

.img-responsive {
    border-radius: 5px;
}

.title-super {
    font-weight: bold;
    font-size:3.2vw;
    color: #457a79;
    margin-top: 0px;
}

.text-thin {
    font-weight: 600;
    font-size:2vw;
    color: #457a79;
    margin-left: 2px;
}

@media only screen
and (max-width: 400px) {
        .title-super {
        font-weight: bold;
        font-size:4vw;
        color: #457a79;
        margin-top: 8px;
        }
        .text-thin {
        font-weight: 588px;
        font-size:3vw;
        color: #457a79;
        margin-left: 2px;
        margin-top: -6px;
    }
    #head {
        padding: 2px;
        height: 95px;
    }
    .headshot {
        width: auto;
        height: 15vw;
    }
}

.text-muted {
    color:#5d8bbd
}

/* MODAL */
.hero {
    padding:1em;
    max-width:100%;
    background-color:#015f47;
    color:#fff
}

.my-picture {
    display:block;
    margin:0 auto 10px;
    width:max-width;
    border:2px solid #fff;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%
}

.iama {
    max-width:100%;
    color:#015f47;
    letter-spacing:.05em;
    font-size:16px;
    font-weight:850;
    margin:0;
    text-align:center;
    color:#5b7a6b
}

.my-info {
    max-width:100%;
    padding-top:1%;
    font-size:18px;
    margin:0 auto 20px;
    text-align:center
}

.my-info:last-of-type {
    margin:0
}

.my-name {
    color:#fff;
    font-size:40px;
    font-weight:800
}

.about-me {
    padding:1em
}

.headshot {
    border-radius: 50%;
    width: 15em;
    height: auto;
    vertical-align: middle;
    border-color: #FFF;
    border-style: solid;
    border-width: medium;
}

.nav-images {
    height: 100%;
    width: auto;
    overflow: hidden;
}