body {
    font-family:'Muli',sans-serif;
    color:#FFF;
    font-weight:300;
    font-size:2vmin;
    background-color: #f6fffb;
}

#head {
    height: 18vw;
    background-image: url("../images/header.jpg");
    background-repeat: no-repeat;
    background-position: center-top;
    overflow: hidden;
    background-size: 100%;
    padding: 2vw;
}

.row-buffer {
    margin-top:20px;
    margin-bottom:30spx
}

.img-responsive {
    border-radius: 5px;
}

.title-super {
    font-weight: bolder;
    font-size: 3vw;
    color: #000;
    margin-top: 0px;
}

@media only screen
and (max-width: 400px) {
        .title-super {
        font-size:5.5vw;
        margin-top: 8px;
        }
    
    #head {
        height: 95px;
    }

    .headshot {
        height: 80px !important;
        width: auto !important;
        margin-top: -2px;
    }
}

.text-muted {
    color:#5d8bbd
}

/* MODAL */
.hero {
    padding:1em;
    max-width:100%;
    background-color:#015f47;
    color:#fff
}

.my-picture {
    display:block;
    margin:0 auto 10px;
    width:max-width;
    border:2px solid #fff;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%
}

.iama {
    max-width:100%;
    color:#015f47;
    letter-spacing:.05em;
    font-size:16px;
    font-weight:850;
    margin:0;
    text-align:center;
    color:#5b7a6b
}

.my-info {
    max-width:100%;
    padding-top:1%;
    font-size:18px;
    margin:0 auto 20px;
    text-align:center
}

.my-info:last-of-type {
    margin:0
}

.my-name {
    color:#fff;
    font-size:40px;
    font-weight:800
}

.about-me {
    padding:1em
}

.headshot {
    border-radius: 50%;
    width: 15vw;
    height: auto;
    vertical-align: middle;
    border-color: #FFF;
    border-style: solid;
    border-width: medium;
}

.nav-images {
    height: 100%;
    width: auto;
    overflow: hidden;
}